# This env variable should point to the python executable of the Lakehouse virtual environment. This is used by Dagster to run your code in the correct environment.
LAKEHOUSE_PYTHON_PATH=C:/Users/carlo/very-cool-lakehouse/lakehouse/.venv/Scripts/python.exe